*
{
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  height: auto;
  text-align: center;
  background: transparent;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.UseReducerContent
{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  height: auto;
  background-color: #000;
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 20px 20px 50px;
}
.UseReducerButtons
{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 18px;
  gap: 10px;
}
.UseReducerButtons button
{
  display: flex;
  width: 100%;
  height: 40px;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  border-radius: 8px;
  border: none;
  padding: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* PoweredByDanielMacielAcevedo */

.PoweredByDanielMacielAcevedo
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.PoweredByDanielMacielAcevedo a
{
  display: flex;
  width: 80%;
  height: 40px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background-color: #000;
  border-radius: 8px;
  padding: 0 12px;
  justify-content: space-between;
  align-items: center;
}
.PoweredByDanielMacielAcevedo a span
{
  width: 40px;
  height: 40px;
  background-image: url(./github_icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}